[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flytekit = ">=0.20.0"
"serverlessworkflow.sdk" = ">=0.1.0"
jq = "*"

[dev-packages]

[requires]
python_version = "3.9"
